#PyCharm files
__pycache__/
.idea/

#jupyter notebook files
.ipynb_checkpoints/
*.npz

cytoplasm_pssm/
secreted_pssm/
nucleus_pssm/
deeploc_train_pssm/
deeploc_test_pssm/
data/
writePosAndNegFastaFile.py
input.fasta
*.docx
*.txt
drawPerformance.py